# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\math7\OneDrive\Documents\1ereA DUT INFO\Semestre 2\Projet tutoré\Code\Prototype avancé david v1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
